* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

.first-view {
  position: relative;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bar {
  position: absolute;
  height: 120vh;
  width: 50px;
  background-color: #fff;
  transform: rotate(20deg) translateY(100%);
}

.bar--first {
  animation: moveBar 0.5s cubic-bezier(0, 0, 0, 1) 0.5s forwards,
    moveTop 0.3s cubic-bezier(0, 0, 0, 1) 0.5s forwards;
  background-color: red;
  left: 20px;
}
.bar--second {
  animation: moveBar 0.7s cubic-bezier(0, 0, 0, 1) 0.6s forwards,
    moveTop 0.3s cubic-bezier(0, 0, 0, 1) 0.5s forwards;
  background-color: blue;
  left: 95px;
}
.bar--third {
  animation: moveBar 1s cubic-bezier(0, 0, 0, 1) 0.8s forwards,
    moveTop 0.s cubic-bezier(0, 0, 0, 1) 0.5s forwards;
  background-color: yellow;
  left: 170px;
}

@keyframes moveBar {
  100% {
    transform: rotate(20deg) translateY(-5%);
  }
}

@keyframes moveTop {
  0% {
    top: 50%;
  }

  100% {
    top: 0;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.img-wrapper {
  display: inline-block;
  height: 100px;

  opacity: 0;
  animation-name: fadeInLogo;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-delay: 1s;
  > img {
    height: 100%;
  }
}

@keyframes fadeInLogo {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.img-wrapper:nth-child(1) {
  transform: translateX(-10px);
}

.img-wrapper:nth-child(2) {
  transform: translateX(-103px);
}

.img-wrapper:nth-child(3) {
  transform: translateX(-218px);
}

.img-wrapper:nth-child(4) {
  transform: translateX(-305px);
}
.img-wrapper:nth-child(5) {
  transform: translateX(-371px);
}
.img-wrapper:nth-child(6) {
  transform: translateX(-481px);
}

.img-wrapper:nth-child(7) {
  transform: translateX(-507px);
}
